// *{
//     margin: 0 auto;
//     box-sizing: border-box;
//     padding: 0px;
// }
.profile{
    
    color: white;
}
h1{
    text-align: center;
    padding-top: 30px;
}
h2{
    font-size: 20px;
}
img{
    max-height: auto;
    width: 100%;
}
.container{
    padding-top: 30px;
    background-color: white;
    color: black;
    border-radius: 20px;
}
.new{
    margin: 50px;
    padding: 40px;
}
.statistical{
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    width: 600px;
    .win{
        display:flex;
        justify-content: baseline;
        margin:15px 0px;
        .line{
            border-top:24px solid rgba(14, 230, 14, 0.815);
            margin: 0px;
            
        }
        p{
            margin:0px;
        }
    }

    .draw{
        display:flex;
        justify-content: baseline;
        margin:15px 0px;
        .line{
            border-top: 24px solid rgb(243, 247, 12);
            margin: 0px;
            
        }
        p{
            margin:0px;
        }
    }

    .lose{
        display:flex;
        justify-content: baseline;
        margin:15px 0px;
        .line{
            border-top: 24px solid rgb(243, 11, 49);
            margin: 0px;
            
        }
        p{
            margin:0px;
        }
    }
}

.image{
    padding: 0 90px;
}
