.rank{
    padding-top: 100px;
    .css-11xur9t-MuiPaper-root-MuiTableContainer-root{
        background-color: rgb(33, 33, 33);

    }
    .css-1ndpvdd-MuiTableCell-root, .css-1yhpg23-MuiTableCell-root{
        color: white;

    }
    .td {
        display: flex;
        justify-content: center;

    }
    .gold, .silver, .copper{
        border-radius: 20px;
        width: 40px;
        padding: 5px 10px;
        color: white;
    }
    .gold{
        background-color : #ffc800; 
    }
    .silver{
        background-color: #b0b1b8;
    }
    .copper{
        background-color: #a78867;
    }
}