.header{
    background-color: #312e2b;
    height: 75px;
    .menu{
        display: flex;
        justify-content: space-around;
        align-items: center;
        .menu--left{
            display: flex;
            .item{
                padding: 20px 10px;
                margin-left: 20px ;
            }
        }
        .menu--right{
            display: flex;
            flex-direction: row;
            align-items: center;
            .item{
                padding: 20px 10px;
                margin-left: 20px ;
                color: white

            }
            button{
                border: 1px solid #ccc;
                padding: 5px 20px;
                border-radius: 20px;
                font-weight: 500;
                &:hover{
                    background-color: bisque;
                }
            }
        }
    }
    a{
        color: white

    }
}